.nav-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.479);
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;

  letter-spacing: 2px;
  font-weight: 600;
  font-size: 13px;
}

.nav:active {
  background-color: grey;
}
.nav.nav-home {
  margin-top: 10px;
  animation: unblur 1s ease backwards 1000ms, greenblink 0.5s linear 1 1.3s;
  
}
.nav.nav-works {
  animation: unblur 1s ease backwards 1000ms, greenblink 0.5s linear 1.8s;
  
}
.nav.nav-resume {
  margin-bottom: 10px;
  animation: unblur 1s ease backwards 1000ms, greenblink 0.5s linear 1 2.3s;
  
}
@media screen and (max-width:480px) {
.active {
  box-shadow: 2px 2px 2px 2px rgba(151, 240, 8, 0.603);
  font-size: 15px;
}
}

@keyframes unblur {
  0% {
    filter: blur(1.5em);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes greenblink {
  0% {
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.479);
  }
  25% {
    box-shadow: 2px 2px 2px 2px rgba(151, 240, 8, 0.603);
  }
  50% {
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.479);
  }
  75% {
    box-shadow: 2px 2px 2px 2px rgba(151, 240, 8, 0.603);
  }
  100% {
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.479);
  }
}

@media screen and (min-width: 700px) {

  .nav-main-container {
    display: flex;
    align-items: flex-end;
    width: max-content;
    height: max-content;
    margin-left: 30%;
    margin-right: 15%;
    

  }
  .nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  box-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 6px;
  font-weight: 300;
  font-size: 16px;
  margin-left: 30px;
  border: none;
  }

  .nav:active {
    background-color: rgba(255, 166, 0, 0.267);
  }

  .nav:hover {
    color: rgba(149, 184, 93, 0.603)
  }
  .nav.nav-home {
    
    animation: unblur 1s ease backwards 1000ms
    
  }
  .nav.nav-works {
    animation: unblur 1s ease backwards 1000ms
    
  }
  .nav.nav-resume {
    padding-right: 5px;
    animation: unblur 1s ease backwards 1000ms
    
  }

  .active {
    font-size: 20px;
    color:rgba(151, 240, 8, 0.603)
  }
  

}