.home-container {
    color: white;
    font-family: 'Poppins', sans-serif;

}

.quick-about {
    font-family: 'Poppins', sans-serif;

    font-size: 12px;
    margin: 10%;
}

.build {
    font-size: 18px;
    line-height: 50px;
    margin: 100px 20px
}

.easy {
    margin: 50px 0;
}
.skill-container {
    display: flex;
    flex-direction: column;
    height: 30%;
}
.skills-icon {
    width: 100px;
    position: absolute;
    margin: -90px -50px;
}
.skill-heading {
    background-color: rgba(109, 62, 136, 0.151);
    height: 30px;
}

.icon-container1 {
    background-color: rgba(109, 62, 136, 0.151);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.lang-icon {
    width: 50px;
    margin: 4%;
}

.html{
    height: 80px;
    width: 70px;
}

.sql {
    height: 80px;
    width: 70px;
}
 
@media screen and (min-width: 700px) {
    .quick-about {
        font-size: 20px;
        line-height: 35px;
        
    }

    .build {
        font-size: 25px;
    }
    .icon-container1 {
        justify-content: space-evenly;
    }

    .lang-icon {
        margin: 4%;
    }

    .easy {
        font-size: 23px;
        margin: 5%;
    }
}